.scrollComponent {
  display: flex;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  max-width: 80%;
}

.createPostContainer {
  display: flex;
  height: 10svh;
  width: 100%;
  position: relative;
  padding-inline: 0.8rem;
  gap: 1.3rem;
  align-items: center;
  background: snow;
  border-radius: 20px;
}
.createPostContainer > textarea {
  width: 100%;
}

.userProfile {
  border-radius: 100%;
  height: 80%;
  width: fit-content;
}

.textAreaOfContent {
  width: 80%;
  height: 70%;
  border: 1px solid silver;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  padding-inline: 1.5rem;
  padding-block: 0.8rem;
  outline: none;
}

.Fab {
  background: rgb(26, 107, 148);
  border-radius: 100%;
  display: flex;
  justify-content: center;
}

.Fab > svg {
  width: 60px;
  height: 40px;
  color: white;
}

.uploadButton {
  position: absolute;
  right: 2%;
  bottom: -55%;
  background: rgb(26, 107, 148);
  color: white;
  border-radius: 10px;
  padding-inline: 1.2rem;
  padding-block: 0.8rem;
  cursor: pointer;
}

.singleCard {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  border-bottom: 1px solid rgb(179, 179, 179);
}

.singleCard_profileContainer {
  display: flex;
  align-items: flex-start;
  gap: 1.2rem;
  padding: 1.2rem;
  padding-right: 3.4rem;
}
.singleCard_profileContainer > img {
  width: 15%;
  border-radius: 50%;
}

.singleCard_image {
  width: 100%;
  padding-top: 0.6rem;
  height: fit-content;
  overflow: hidden;
}
.singleCard_image > img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
}

.optionsContainer {
  display: flex;
  height: 20%;
  width: 100%;
  justify-content: space-between;
  padding-block: 0.6rem;
}

.singleOption_optionsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}
.singleOption_optionsContainer > svg {
  height: 100%;
  width: 10%;
  min-width: 1rem;
}

.commentsContainer {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.allCommentsContainer {
  width: 40vw;
  height: 80vh;
  background: white;
  border-radius: 10px;
  position: relative;
  padding: 1.4rem;
}

.postCommentContainer {
  position: absolute;
  bottom: 1.2rem;
  left: 1.2rem;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}
.postCommentContainer > input {
  flex: 0.9;
  padding-inline: 1.5rem;
  padding-block: 1.2rem;
  border: none;
  outline: none;
  background-color: rgb(228, 228, 228);
  border-radius: 10px;
}
.postCommentContainer > input:focus {
  border: 1px solid silver;
}

.postCommentContainer_commentBtn {
  flex: 0.1;
  width: fit-content;
  padding: 1.2rem;
  background: rgb(239, 187, 89);
  border-radius: 10px;
  text-align: center;
  color: white;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .allCommentsContainer {
    width: 90%;
  }
}
