.container {
  padding: 1.3rem;
  background: rgb(255, 253, 253);
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.backDropContainer {
  width: 100%;
  height: 30vh;
  background: url("https://t4.ftcdn.net/jpg/06/31/31/59/360_F_631315988_31FMZC4kDYijIJzsxNQivlotI4QGetHow.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 20px;
}
.backDropContainer > img {
  width: 7em;
  height: 7em;
  object-fit: cover;
  border-radius: 50%;
  position: absolute;
  bottom: -20%;
  left: 8%;
}

.profileContainer_details {
  padding-top: 6.6rem;
}

.card {
  display: flex;
  align-items: center;
  gap: 1.4rem;
}

.card_profileContainer {
  display: flex;
}
.card_profileContainer > img {
  width: 3.4rem;
  height: auto;
  height: 3.4rem;
  object-fit: cover;
}

.connectBtn {
  padding-inline: 0.8rem;
  padding-block: 0.3rem;
  background: rgba(3, 93, 183, 0.905);
  outline: none;
  border: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.connectedButton {
  padding-inline: 0.8rem;
  padding-block: 0.3rem;
  border: 1px solid rgba(3, 93, 183, 0.905);
  outline: none;
  background: #f4f0f0;
  color: rgba(3, 93, 183, 0.905);
  border-radius: 10px;
  cursor: pointer;
}

.workHistoryContainer {
  display: flex;
  gap: 1.4rem;
  padding-top: 1.4rem;
  width: 100%;
  flex-wrap: wrap;
}

.workHistoryCard {
  min-width: fit-content;
  padding-inline: 2.5rem;
  padding-block: 1rem;
  box-shadow: 10px 10px 15px rgb(173, 173, 173);
}

.profileContainer_flex {
  display: "flex";
  gap: "0.7rem";
}

@media only screen and (max-width: 600px) {
  .profileContainer_flex {
    flex-direction: column;
  }
}
